Skip to content



All gists
Back to GitHub


 



 chrisjdavis/chatbox.css 
Created 8 years ago • Report abuse 
Subscribe 
Star 
0 
Fork 
0
Code 
Revisions 2 
Embed 


Download ZIP 
Chatbox CSS 
Raw 
chatbox.css 

.chatbox {

	position: fixed;

	position:expression("absolute");

	width: 300px;

	display:none;

}



.chatbox .head {

	background-color: #2c2c2c;

	background-image: -moz-linear-gradient(top, #333333, #222222);

	background-image: -ms-linear-gradient(top, #333333, #222222);

	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));

	background-image: -webkit-linear-gradient(top, #333333, #222222);

	background-image: -o-linear-gradient(top, #333333, #222222);

	background-image: linear-gradient(top, #333333, #222222);

	background-repeat: repeat-x;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);  

	padding:7px;

	color: #ffffff;

	border-radius: 5px 5px 0px 0px;

}



.chatbox .content {

	font-family: arial,sans-serif;

	font-size: 13px;

	color: #333333;

	height:200px;

	width:284px;

	overflow-y:auto;

	overflow-x:auto;

	padding:7px;

	border-left:1px solid #cccccc;

	border-right:1px solid #cccccc;

	border-bottom:1px solid #eeeeee;

	background-color: #ffffff;

	line-height: 1.3em;

}



.chatbox .input {

	padding: 5px;

	background-color: #ffffff;

	border-left:1px solid #cccccc;

	border-right:1px solid #cccccc;

	border-bottom:1px solid #cccccc;

}



.chatbox .textarea {

	width: 283px;

	height:44px;

	padding:3px 0pt 3px 3px;

	border: 1px solid #eeeeee;

	margin: 1px;

	overflow:hidden;

}



.chatbox .options {

	float: right;

}



.chatbox .options a {

	text-decoration: none;

	color: white;

	font-weight:bold;

	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;

}



.chatbox .title {

	float: left;

}

	.chatbox .title img {

	   float: left;

	   height: 25px;

	   margin-right: 7px;

	   margin-top: -2px;

	   width: 25px;

	   border-radius: 3px 3px 3px 3px;

	   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);

	}


Write Preview 











 
 

Attach files by dragging & dropping, selecting or pasting them. 

Comment 
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help

Contact GitHub
Pricing
API
Training
Blog
About

